node_modules/
tvapp2/node_modules/
jspm_packages/
web_modules/
bower_components
build/Release
go.work
coverage
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
temp/
work/
logs
keys
tmp
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
pids
lib-cov


_.log
_.pid
_.seed
__pycache__/


\*.tsbuildinfo
\*.tgz
\*.lcov
\*.pid.lock


.npm
.npmrc
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
.yarn-integrity
.DS_STORE


.vscode/
.temp/
.nyc_output
.grunt
.lock-wscript
.pnpm-debug.log*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.\*
.dev.vars
.wrangler/
.src
.dist
.dev
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.cache/
.opt-*


*.user
*.exe
*.exe~
*.dll
*.so
*.dylib
*c*de*
*.dat
*.xml
*.txt
*.test
*.out
